{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.graphql",
      "options": {
        "parser": "graphql",
        "printWidth": 120
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "printWidth": 80
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml",
        "printWidth": 80
      }
    }
  ]
}
